.app-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;

    display: flex;
    justify-content:space-evenly;
}

.app-footer__logo {
  height: 50px;
}

.app-footer__content {
  text-align: center;
}
