.app-header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin: auto;

  display: flex;
  justify-content: center;
}

.app-header_content {
  text-align: center;
}

.app-header_logo {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 50px;
}